<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col mb-4" *ngFor="let card of listpedidos">
        <div class="card {{card.borde}}">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body text-center">
                <h5 class="card-title">{{card.nombremascota}}</h5>
                <div class="row m-auto">
                    <button class="btn btn-danger" *ngIf="card.fechaentrega.toDate() <= fechaHoy" (click)="entregarPedido(card.id)"><i class="fas fa-box"></i></button>
                    <button class="btn btn-success" (click)="ingresarPago(card.id, card.nombremascota)">Pagar</button>
                </div>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Dueño</td>
                            <td>{{card.nombredueno }}</td>
                        </tr>
                        <tr>
                            <td>Pack</td>
                            <td>{{card.pack}}</td>
                        </tr>
                        <tr>
                            <td>Costo</td>
                            <td>{{card.costo}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Entrega</td>
                            <td>{{card.fechaentrega.toDate() | date:'dd-MM'}} </td>
                        </tr>
                    </tbody>
                </table>

                <a routerLink="/detalles/{{card.id}}" class="btn btn-outline-success">Ver mas</a>
            </div>
        </div>
    </div>